// 修改链接的下划线样式
.article a:not([class]):not([data-fancybox]),
.content > a
  position: relative
  text-decoration: none
  &:before
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px
    height: 1px
    width: 100%
    background: #ff5722
    transform: scale(0)
    transition: all 0.5s
  &:hover:before
    transform: scale(1)


article h1,h2,h3
    font-weight: 900;
    line-height: inherit;
    font-family: SentyGoldenBell,JetBrainsMono,"Noto Serif SC","Microsoft YaHei",Helvetica,Arial,Helvetica,monospace
    background: linear-gradient(to bottom,transparent 60%,rgba(189,202,219,.3) 0) no-repeat;
    display: -webkit-box;
    display: -moz-box;
    display: initial;
    width: auto;
    border-bottom: none;

// 修改文章行间距
article p
  line-height: 2 !important;

// noteblock 标题字号增大
.note strong
  font-size: 1.5rem
  font-family: 'SentyGoldenBell'

// 列表页的内容居中
.post.post-v3.white-box
  text-align: center
  & a
    font-weight: 600 !important

// 内容居左且首行缩进
.post.post-v3.white-box  p
  text-align: left
  text-indent: 2em
